{% extends 'base.html.twig' %}

{% block title %}inscription
{% endblock %}

{% block body %}
	<div class="container mx-auto px-4">
		<div class="grid grid-cols-6 gap-4">
			{% block left %}
				{% include('civility/side.html.twig') %}
			{% endblock %}
			<div class="col-start-2 col-span-4">
				{% block center %}
					{% include 'civility/form_register.html.twig' %}
				{% endblock %}
			</div>
		</div>
	</div>
{% endblock %}
